@import url('https://fonts.googleapis.com/css2?family=Seymour+One&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(151 255 197);
   
}
.container{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    min-width: 300px;

}


.frame{
    padding: 10px;
    padding-left: 25px;
    padding-bottom: 17px;
    width:40%;
    min-width: 300px;
    
}
.title{
    cursor: pointer;
    font-size: 100%;
    margin: auto;
    text-align: center ;
    color: #3e6567;
    font-family: 'Seymour One', sans-serif ; 
    width:40%;
    min-width: 300px;
   
}
.title-word{
    width: 100%;
    
}
.addbox{
    border-radius: 10px;
    margin-top: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    border-bottom: 2px solid rgb(15, 148, 104) ;
    background-color:rgb(47, 230, 169);
    min-height:40px;
    padding-top: 2px;
    max-width: 90%;
    min-width: 87%;
}
.addbox:focus{
 
    outline: none;
}
.addbutton{
    cursor: pointer;
    text-align: center;
    font-family: 'Seymour One', sans-serif;
    color: #3e6567 ;
    background-color: rgb(151 255 197);
    border: 1px solid #3e6567 ;
    border-radius: 9px;
    max-width: 40px;
    min-width: 30px;
    font-size: 20px;
    padding-left: 0px;
    padding-right: 1px;
    padding-top: 2px;
    padding-bottom: 5px;
    
    
}
.addbutton:hover{   
    border: none;
    color: rgb(151 255 197) ;
    background-color:#3e6567 ;
}
.button{
    
    text-align: center;
    margin-bottom: 20px;
    width:100%;     
    margin-top: 20px;
   
}
.button:hover{
    border: 1px solid cadetblue ;
}
.displaybox{
    word-break: break-all;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    border-bottom: 2px solid rgb(9, 190, 130) ;
    background-color:rgb(103, 226, 185);
    min-height:40px;
    padding-top: 2px;
    margin-top: 10px;
    max-width: 90%;
    min-width: 87%;
}
.displaybox:last-child {
    margin-bottom: 100px;
  }
.del{
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 1px;
    border-radius: 5px;
    color: white;
    background-color: rgb(205 62 62);
}
.del:hover{
    background-color: rgb(168 17 17);
    
}

